h1 {
    text-align: center;
    font-family: tahoma;
}

body{
    padding-bottom: 100px;
}
header{
    background-color: aquamarine;
    border-bottom: 2px solid #ddd;
  
}

div#butoes{
    display: inline-flex;
    justify-content: flex-end;
}